<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <% include ./include/header %>
    <div class="container-fluid" id="wrapper">
      <h2>搜索结果</h2>
      <% include ./include/client_list %>
      
      <% include ./include/ticket_list %>
    </div>
    <% include ./include/footer %>
  </body>
</html>
